
.footer {
  max-width: 100%;
  width: 100%;
  background: #10182F;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3.5rem;
  padding: 30px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  cursor: pointer;
  line-height: 2rem;
  padding-left: 10px;
  margin-top: 20px;
  flex-direction: column;
  display: flex;
}

.footer-col .links span {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links span {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}


.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.icons img{
  background: transparent;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 590px) {
  .footer-col{
     justify-content: space-around;
  }

  .footer-col .links{
    display: none;
  }

  .footer-col .icons{
    max-width: 80%;
    align-items: center;
    flex-direction: row;
    display: flex;
  }

  .footer-col .info{
    display: none;
  }

  .footer-cols img {
      max-width: 60%;
      max-height: 20%;
      padding: 10px;
  } 

}

/* @media (min-width: 280px){
  .footer-col .icons{
    max-width: 80%;
    transform: translateX(-60%);
    flex-direction: row;
    display: flex;
  }

  .footer-col .follow{
    transform: translateX(-75%);
  }
} */